**Load the data**

In this project, we will be working with Uber and Lyft data. The data can be found here:

https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma

In [68]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns

In [83]:
uber_data = pd.read_csv("/Users/rishikeshdhokare/Documents/Ironhack/MiniProject/uber-project/rideshare_kaggle.csv")
uber_data.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800

In [42]:
uber_data.shape

(693071, 57)

# Prepare the Data

In [84]:
print(uber_data.columns)

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'apparentTemperature', 'short_summary', 'long_summary',
       'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
       'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'],
      dtype='object')

In [87]:
extra_columns = [ 
       'id', 'timestamp', 'datetime', 'timezone','product_id',
       'surge_multiplier','apparentTemperature', 'short_summary', 
       'long_summary','precipIntensity', 'precipProbability', 'humidity', 
       'windSpeed', 'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'
]

uber_data = uber_data.drop(extra_columns, axis = 1)

In [89]:
uber_data

,hour,day,month,source,destination,cab_type,name,price,distance,latitude,longitude,temperature
0,9,16,12,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,42.2148,-71.0330,42.34
1,2,27,11,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,42.2148,-71.0330,43.58
2,1,28,11,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,42.2148,-71.0330,38.33
3,4,30,11,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,42.2148,-71.0330,34.38
4,3,29,11,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,42.2148,-71.0330,37.44
...,...,...,...,...,...,...,...,...,...,...,...,...
693066,23,1,12,West End,North End,Uber,UberXL,13.0,1.00,42.3519,-71.0643,37.05
693067,23,1,12,West End,North End,Uber,UberX,9.5,1.00,42.3519,-71.0643,37.05
693068,23,1,12,West End,North End,Uber,Taxi,NaN,1.00,42.3519,-71.0643,37.05
693069,23,1,12,West End,North End,Uber,Black SUV,27.0,1.00,42.3519,-71.0643,37.05
693070,23,1,12,West End,North End,Uber,UberPool,10.0,1.00,42.3519,-71.0643,37.05

In [91]:
uber_data.dtypes

hour             int64
day              int64
month            int64
source          object
destination     object
cab_type        object
name            object
price          float64
distance       float64
latitude       float64
longitude      float64
temperature    float64
dtype: object

In [93]:
print(uber_data.isnull().sum())
print(uber_data.isnull().sum().sum())
uber_data=uber_data.dropna()

hour               0
day                0
month              0
source             0
destination        0
cab_type           0
name               0
price          55095
distance           0
latitude           0
longitude          0
temperature        0
dtype: int64
55095

# KNN
K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [100]:
num_uberdata= uber_data.select_dtypes("number")
num_uberdata

        hour  day  month  price  distance  latitude  longitude  temperature
0          9   16     12    5.0      0.44   42.2148   -71.0330        42.34
1          2   27     11   11.0      0.44   42.2148   -71.0330        43.58
2          1   28     11    7.0      0.44   42.2148   -71.0330        38.33
3          4   30     11   26.0      0.44   42.2148   -71.0330        34.38
4          3   29     11    9.0      0.44   42.2148   -71.0330        37.44
...      ...  ...    ...    ...       ...       ...        ...          ...
693065    23    1     12    9.5      1.00   42.3519   -71.0643        37.05
693066    23    1     12   13.0      1.00   42.3519   -71.0643        37.05
693067    23    1     12    9.5      1.00   42.3519   -71.0643        37.05
693069    23    1     12   27.0      1.00   42.3519   -71.0643        37.05
693070    23    1     12   10.0      1.00   42.3519   -71.0643        37.05

[637976 rows x 8 columns]

In [106]:
features = uber_data[['hour', 'day', 'month', 'distance', 'latitude', 'longitude', 'temperature']]
print(features)
target = uber_data['price']
print(target)

        hour  day  month  distance  latitude  longitude  temperature
0          9   16     12      0.44   42.2148   -71.0330        42.34
1          2   27     11      0.44   42.2148   -71.0330        43.58
2          1   28     11      0.44   42.2148   -71.0330        38.33
3          4   30     11      0.44   42.2148   -71.0330        34.38
4          3   29     11      0.44   42.2148   -71.0330        37.44
...      ...  ...    ...       ...       ...        ...          ...
693065    23    1     12      1.00   42.3519   -71.0643        37.05
693066    23    1     12      1.00   42.3519   -71.0643        37.05
693067    23    1     12      1.00   42.3519   -71.0643        37.05
693069    23    1     12      1.00   42.3519   -71.0643        37.05
693070    23    1     12      1.00   42.3519   -71.0643        37.05

[637976 rows x 7 columns]
0          5.0
1         11.0
2          7.0
3         26.0
4          9.0
          ...
693065     9.5
693066    13.0
693067     9.5
693069    27.0
693070    10.0
Name: price, Length: 637976, dtype: float64

In [110]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)